/*@media screen and (min-width: 520px) and (max-width: 767px){
}
*/
@media screen and (max-width: 767px){
	.glyphicon{
		top: 0;
	}

	.rwd-table{

	}

	.rwd-table thead,
	.rwd-table tbody{
		display: table;
  width: 100%;
	}
	.rwd-table thead th,
	.rwd-table tfoot th{
		display: table;
  		width: 90%!important;
	}

	.rwd-table thead td{
		
	}
	.rwd-table tbody tr{
		margin-bottom: 10px;
		display: table;
		width: 100%;
	}
	.rwd-table tbody td{
		width: 100%;
		padding: 8px 11px;
		display: block;
		width: auto;
	}

	.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
	  clear: both;
	  text-align: center;
	  width: auto;
	  display: table;
	  float: left;
	}

	.dataTables-th{
		display: block;
		padding: 1px;
		height: 100%;
		width: 100%;
		font-weight: bold;
		font-size: 15px;
		border-bottom: 1px solid rgba(102, 102, 102, 0.45);
		margin-bottom: 4px;
	}
	.dataTables_wrapper .dataTables_filter input {
	  margin-left: 0.5em;
	  width: 66%;
	}

	.header .logo{
		width: 150px;
		float: left;
	}

	.header .logo img{
		width: 100%;
	}
	.header .user{
		float: right;
	}

	.header .user figure{
		width: 65px;
		border-radius: 100%;
		overflow: hidden;
		background-color: #FFF;
		text-align: center;
	}
	.header .user figure img{
		width: 100%;
	}

	.header .user .username{
	    text-align: center;
	    margin: 0;
	    padding: 0;
	    color: #FFF;
	    font-size: 14px;
	}

	body{
		background: url('../img/imagens/fundo_2.jpg') 100%;
	}
	#container_login{
		margin: 0;
		overflow: auto;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('../img/imagens/fundo_2.jpg') 100%;
	}
	#container_login .box_login{
    position: absolute;
    top: 21%;
    left: 50%;
    right: 0;
    bottom: 0;
    display: table;
    width: 325px;
    margin-left: -161px;
    background: rgba(255, 255, 255, 0.2) url('../img/imagens/efeito.png');
    background-size: 100%;
    padding: 20px;
    border-radius: 23px;
    overflow: hidden;
    box-shadow: 0px 3px 15px -1px #FFFFFF inset;
	}
	#container_login .box_login header{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	#container_login .box_login header img{
		width: 210px;
	}
	#container_login .box_login #form_login{
		display: table;
		width: 100%;
	}

	#container_login .box_login label{
    display: table;
    margin: 12px;
    padding: 0px;
	}
	#container_login .box_login label img{
		float: left;
		width: 20px;
		margin: 7px;
	}

	#container_login .box_login label input{
		float: right;
		width: 270px;
		border-radius: 0;
	}

	#container_login .box_login .btn_login{
    background-color: #1B5CB6;
    background-image: url('../img/imagens/efeito.png');
    background-size: 100%;
    box-shadow: 0 0 9px 7px rgba(16, 82, 165, 0.69) inset;
    margin: 0 10px;
    border-radius: 8px;
    border: 0;
    width: 94%;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 23px;
    padding: 3px;
    font-weight: bold;
	}
	#container_login .box_login .recupera{
		float: right;
		margin-right: 11px;
		color: #FFF;
		font-size: 12px;
	}
	#container_login .box_login .resposta{
		border: 1px solid;
		width: 94%;
		margin: 10px;
		padding: 6px;
		text-align: center;
		background: #5D666F;
		color: #FFF;
		font-size: 17px;
		border-radius: 7px;
	}
	#container_login .box_login .resposta p{
		margin: 0;
	}

	#container_login .box_login label.captcha{
		display: none;
	}

	#container_login .box_login label.captcha input{
		width: 96%;
		margin: 6px; 
	}

	





	.wrap-content{
		position: absolute;
		top: 20%;
		bottom: 0;
		left: 0;
		right: 0;
		
	}

	.navbar-menu{
   		margin:0 10% 10% 10%;
	}
	.navbar-menu ul{
	/*list-style: none;
    padding: 0;
    display: table;
    margin: auto;*/
	}
	.navbar-menu ul li{
		list-style: none;
		display: table;
	}
	.navbar-menu ul li a{
		display: inline-block;
		margin: 5px;
		background-image: url('../img/imagens/efeito.png');
		background-position: 0;
		border-radius: 5px;
		padding: 10px;
		position: relative;
		color: #FFF;
		font-size: 20px;
		text-align: center;
		display: block;
		text-shadow: 2px 1px 1px #000;
		text-decoration: none;
	    box-shadow: 0 0 10px 0px #FFF;
	    min-height: 116px;
	    min-width: 116px;
	}

	.navbar-menu ul li a.inactive{
		opacity: 0.4!important;
	}
	.navbar-menu ul li a.inactive{

	}

	.navbar-menu ul li a:hover:not(.inactive){
	    transform: scale(1.1);
	}

	.navbar-menu ul li a figure{
		margin: 0;
    width: 100%;
	}

	.navbar-menu ul li a figure img{
	width: 73px;
    /* border: 2px solid #FFF; */
    border-radius: 100%;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 8px 0px #FFF inset;
	}

	.navbar-menu ul li .box1{
    width: 26vh;
    height: 26vh;
    display: inline-block;
    position: relative;
    background-color: rgb(142, 68, 173);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7700aa+0,aa41db+100 */
	background: #7700aa; /* Old browsers */
	background: -moz-linear-gradient(top,  #7700aa 0%, #aa41db 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7700aa), color-stop(100%,#aa41db)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7700aa 0%,#aa41db 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7700aa 0%,#aa41db 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7700aa 0%,#aa41db 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7700aa 0%,#aa41db 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7700aa', endColorstr='#aa41db',GradientType=0 ); /* IE6-9 */

    
	}
	.navbar-menu ul li .box2{
    width: 37vh;
    height:18vh;
    display: inline-block;
    position: relative;
    background-color: rgb(243, 156, 18);
	}
	.navbar-menu ul li .box3{
    width: 50vh;
    height: 26vh;
    display: inline-block;
    position: relative;
    background-color: rgb(41, 128, 185);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3400d3+0,5f43db+100 */
background: #3400d3; /* Old browsers */
background: -moz-linear-gradient(top,  #3400d3 0%, #5f43db 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3400d3), color-stop(100%,#5f43db)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3400d3 0%,#5f43db 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3400d3 0%,#5f43db 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3400d3 0%,#5f43db 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3400d3 0%,#5f43db 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3400d3', endColorstr='#5f43db',GradientType=0 ); /* IE6-9 */

	}
	.navbar-menu ul li .box4{
    width: 26vh;
    height: 26vh;
    display: inline-block;
    position: relative;
    background-color: rgb(0, 106, 63);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005700+0,008a00+100 */
background: #005700; /* Old browsers */
background: -moz-linear-gradient(top,  #005700 0%, #008a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005700), color-stop(100%,#008a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #005700 0%,#008a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #005700 0%,#008a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #005700 0%,#008a00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #005700 0%,#008a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005700', endColorstr='#008a00',GradientType=0 ); /* IE6-9 */

	}
	.navbar-menu ul li .box5{
    width: 35vh;
    height: 26vh;
    display: inline-block;
    position: relative;
    background-color: rgb(211, 84, 0);
	}
	.navbar-menu ul li .box6{
    width: 40vh;
    height: 26vh;
    display: inline-block;
    position: relative;
    background-color: rgb(135, 0, 0);
	}
}